* {
  margin: 0%;
  padding: 0%;
}
h1 {
  background-color: gray;
  text-align: center;
}

.container {
  background-color: lawngreen;
  text-align: center;
  width: 100%;
  height: 100px;
}

p {
  width: 100%;
  height: 100px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .divs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 481px) {
  .divs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1025px) {
  .divs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.div1 {
  background-color: aqua;
  width: 100%;
  height: 100px;
  text-align: center;
}

.div2 {
  background-color: blueviolet;
  width: 100%;
  height: 100px;
  text-align: center;
}
.div3 {
  background-color: red;
  width: 100%;
  height: 100px;
  text-align: center;
}
.div4 {
  background-color: yellowgreen;
  width: 100%;
  height: 100px;
  text-align: center;
}
.div5 {
  background-color: orange;
  width: 100%;
  height: 100px;
  text-align: center;
}
.div6 {
  background-color: olive;
  width: 100%;
  height: 100px;
  text-align: center;
}
